/*Styles*/

#footer {
  background-color: teal;
  color: white;
  padding: 0px;
}

.banner {
  min-height: 90vh;
  background-image: url(cabin_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.banner-txt {
	color: white;
	padding-top: 20vh;
	font-size: 5em;
}

.about-us-txt {
  color: white;
}

.img-frontpage {
	width: 33vw;
	height: 33vw;
	margin: 0 auto;
	position: relative;
}


@media screen and (max-width: 768px) {
    .img-frontpage {
        width: 100vw;
        height: auto;
        margin: 0 auto;
    }
}

.thumbnail {
    position: relative;
}

.frontpage-txt-container {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;    
}

.frontpage-txt {
	font-size: 3em;
}

.goto-cabin:hover {
  color: #FFF;
}

.goto-cabin {
  color: #FFF;
}

.cabin-list-description {
  padding-top: 30px;
  padding-bottom: 40px;
}
