/*Styles*/

.container-main {
  padding-top: 60px;
}

.container-footer {
  background-color: teal;
  color: white;
  padding: 0px;
}

.banner {
  min-height: 80vh;
  background-image: url(cabin_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.banner-txt {
	color: white;
	padding-top: 20vh;
	font-size: 5em;
}

.about-us-txt {
  color: white;
}

.img-frontpage {
	width: 33vw;
	height: 33vw;
	margin: 0 auto;
	position: relative;
}


@media screen and (max-width: 768px) {
    .img-frontpage {
        width: 100vw;
        height: auto;
        margin: 0 auto;
    }
}

.thumbnail {
    position: relative;
}

.frontpage-txt-container {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;    
}

.frontpage-txt {
	font-size: 3em;
}

.goto-cabin:hover {
  color: #FFF;
}

.goto-cabin {
  color: #FFF;
}

.cabin-list-description {
  padding-top: 30px;
  padding-bottom: 40px;
}

#container-message {
  color: red;
}

.btn-order {
  width: 80%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.form-input:focus {
  width: 100%;
  padding: 8px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  outline: none;
  border: 3px solid #555;
}

.form-btn {
    width: 80%;
    background-color: #008080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn:hover {
  background-color: #004d4d;
}
